body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4f4f4;
  }

  header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }

  section {
    margin-top: 20px;
  }

  footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
  }

  .wp {
    color: #fff;
    font-size: 15px;
    width: 50px;
    height: 50px;
  }